workspace/human-resources-core/src/main/resources/wsdl/EnterprisePersonaEmpresaService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="EntPersonaEmpresaService" targetNamespace="http://cajalosandes.cl/enterprise/EntPersonaEmpresaService/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://cajalosandes.cl/enterprise/EntPersonaEmpresaService/" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap12/">
  <WL5G3N0:types>
    <xsd:schema targetNamespace="http://cajalosandes.cl/enterprise/EntPersonaEmpresaService/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://cajalosandes.cl/enterprise/EntPersonaEmpresaService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="findAfiliadosPorEmpPer">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" name="rutEmpresa" nillable="false" type="xsd:long"/>
            <xsd:element name="rutAfiliado" type="xsd:long"/>
            <xsd:element minOccurs="1" name="numeroFilas" nillable="false" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="findAfiliadosPorEmpPerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="control" type="tns:ControlType"/>
            <xsd:element name="cantidadAfiliadosTotal" type="xsd:long">
						</xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="afiliados" type="tns:BaseCalculoType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ControlType">
        <xsd:sequence>
          <xsd:element name="codigo" type="xsd:string"/>
          <xsd:element name="mensaje" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BaseCalculoType">
        <xsd:sequence>
          <xsd:element name="rut" type="xsd:long"/>
          <xsd:element name="nombre" type="xsd:string"/>
          <xsd:element minOccurs="0" name="fechaContratacion" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="findAfiliadosPorEmpPerRequest">
    <WL5G3N0:part element="WL5G3N1:findAfiliadosPorEmpPer" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="findAfiliadosPorEmpPerResponse">
    <WL5G3N0:part element="WL5G3N1:findAfiliadosPorEmpPerResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="EntPersonaEmpresaService">
    <WL5G3N0:operation name="findAfiliadosPorEmpPer">
      <WL5G3N0:input message="WL5G3N1:findAfiliadosPorEmpPerRequest"/>
      <WL5G3N0:output message="WL5G3N1:findAfiliadosPorEmpPerResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="EntPersonaEmpresaServiceSOAP" type="WL5G3N1:EntPersonaEmpresaService">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="findAfiliadosPorEmpPer">
      <WL5G3N2:operation soapAction="http://cajalosandes.cl/enterprise/EntPersonaEmpresaService/findAfiliadosPorEmpPer"/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="EntPersonaEmpresaService">
    <WL5G3N0:port binding="WL5G3N1:EntPersonaEmpresaServiceSOAP" name="EntPersonaEmpresaServiceSOAP">
      <WL5G3N2:address location="http://lasiewebsit.ccaf.andes:8080/EnterprisePersonaEmpresaServices/Proxies/EnterprisePersonaEmpresaServices"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>